.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 259px;
    display: flow-root;
    font-family: arial;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .button {
    font-size: 16px;
    position: relative;
    top: 20%;
    color: #0a0204;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    cursor: pointer;
  }
  .btnLogin{
    background-color: #ddd;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    width: 115px;
    font-size: 10px;
  }
  .profilelst{
    color: #0a0204;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
  }
  .crossMarkIcon{
    float: right;
    font: icon;
    cursor: pointer;
}
.iconImage{
  margin: 10px 0 0;
    position: absolute;
    bottom: 13px;
    left: 5px;
    display: block;
}
.bagCount{
  white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    background:green;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin-top: 11px;
    right: 90px;
}